	/* Mixins*/
		@define-mixin sidePadding {
			padding: {
				left: --spacingSm;
				right: --spacingSm;
			}
		}

		/* Centering*/
			@define-mixin vertical-align {
			  position: relative;
			  top: 50%;
			  transform: translateY(-50%);
			}

			@define-mixin vertical-align-fix {
				top: -50%;
				transform: translateY(50%);
			}

			@define-mixin no-vertical-align {
				position: relative;
				top: 0%;
				transform: translateY(0%);
				top: 0%;
				transform: translateY(0%);
			}

			@define-mixin centerDiv {
		    	margin: 0 auto !important;
			}



