:root {
/* Variables*/
  	/* Color*/
	    --white: rgb(255,255,255);
	    --black: rgb(0,0,0);
	    
	/* Spacing*/
		--spacingXsm: 10px;
		--spacingSm: 25px;
		--spacingMed: 50px;
		--spacingLg: 100px;
		--spacingXl: 150px;

	/* Breakpoints*/
		--mobile: new-breakpoint(max-width 480px 4);
		--smallDesktop: new-breakpoint(max-width 960px 12);
}